* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: 0;
  /*BUTTONS ANIMATION*/
  /*FONT NAVBAR*/
  /*FIRST SECTION*/
  /*HEADER*/
  /*BUTTON GITHUB PROJECT*/
  /*BUTTONS*/
  /*WAVES*/
  /* Animazioni onde */
  /*BORDER FORM*/
}
body .texthover {
  color: white;
  transition: ease-in 0.3s;
  border-radius: 50%;
}
body .iconhover:hover {
  color: #2a78d1;
  transition: color 0.3s;
}
body .texthover:hover {
  background: #2a78d1;
  background: radial-gradient(ellipse at center, #2a78d1 0%, #2a78d1 31%, #000000 100%);
  color: #000000;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5882352941);
}
body .texthover:active {
  box-shadow: inset 0px 0px 10px 5px #000000;
}
body .bnc {
  color: #000000;
  transition: ease-in 0.3s;
  border-radius: 50%;
}
body .bnc:hover {
  background: #2a78d1;
  background: radial-gradient(ellipse at center, #2a78d1 0%, #2a78d1 31%, #000000 100%);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5882352941);
}
body .bnc:active {
  box-shadow: inset 0px 0px 10px 5px #000000;
}
body .font {
  font-family: "Rubik", sans-serif;
}
body .icon-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
body .head-banner {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: #bdbdbd;
  background: linear-gradient(to right, #c400a3 0%, #f80000 19%, #ff9925 40%, #f5be3e 60%, #0baa88 83%, #c400a3 100%);
  background-size: 10000px 100%;
  -webkit-animation: head-banner 15s linear infinite;
          animation: head-banner 15s linear infinite;
  background-attachment: fixed;
  background-blend-mode: color-burn;
}
@-webkit-keyframes head-banner {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
@keyframes head-banner {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
body .main-title {
  letter-spacing: 0;
  font-size: 45px;
}
body .title {
  text-shadow: 3px 5px 2px #474747;
}
body .gian {
  color: #2a78d1 !important;
}
body .bgc {
  background-color: #bdbdbd;
}
body .display-images .imgs {
  min-height: 30rem;
}
body .display-images .txt {
  padding: 3rem;
}
body .buttonGit {
  border: 3px black solid;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}
body .buttonGit:hover {
  color: black;
  background: #2a78d1;
  transition: ease 0.3s;
}
body .btn {
  border: 2px solid rgb(82, 82, 82) !important;
}
body .prgss {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  border-radius: 0 !important;
  background: #fff;
}
body .vio {
  color: #6d6d6d;
}
body .animate-charcter {
  background-image: linear-gradient(-225deg, #c7cdff 30%, #ffffff 50%, #ffffff 70%, #c7cdff 100%) !important;
  background-size: auto auto !important;
  background-clip: border-box !important;
  background-size: 200% auto !important;
  color: #fff !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-animation: textclip 3s linear infinite !important;
          animation: textclip 3s linear infinite !important;
}
body label {
  font-size: 2em;
}
body .bg1 {
  background-color: #DDFFBC;
}
@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
body .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}
body .content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: rgba(254, 255, 222, 0.4196078431);
}
body .parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
body .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
body .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
body .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}
body .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
body .bordertxt {
  border: none;
  transition: color 0.5s;
  border-top: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-left: 3px solid transparent !important;
  border-bottom: 3px solid transparent !important;
  box-shadow: none !important;
  background: #fff;
}
body .bordertxt:hover, body .bordertxt:focus {
  border-bottom: 3px solid #2a78d1 !important;
}

@media screen and (min-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  .head-banner {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .display-images .txt {
    padding: 7rem;
  }
  .main-title {
    font-size: 70px !important;
  }
  .respad {
    padding-top: 80px !important;
  }
}/*# sourceMappingURL=styles.css.map */