$bgWidth: 10000px;
$mainGreen: #2a78d1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    scrollbar-width: 0;

/*BUTTONS ANIMATION*/
    .texthover {
        color: white;
        transition: ease-in 0.3s;
        border-radius: 50%;

    }

    .iconhover:hover {
        color: $mainGreen;
        transition: color 0.3s;
    }

    .texthover:hover {
        background: $mainGreen;
        background: -moz-radial-gradient(center, $mainGreen 0%, $mainGreen 31%, #000000 100%);
        background: -webkit-radial-gradient(center, $mainGreen 0%, $mainGreen 31%, #000000 100%);
        background: radial-gradient(ellipse at center, $mainGreen 0%, $mainGreen 31%, #000000 100%);
        color: #000000;
        -webkit-box-shadow: 0px 0px 10px 5px #00000096;
        box-shadow: 0px 0px 10px 5px #00000096;
    }

    .texthover:active {
        -webkit-box-shadow: inset 0px 0px 10px 5px #000000;
        box-shadow: inset 0px 0px 10px 5px #000000;
    }

    .bnc {
        color: #000000;
        transition: ease-in 0.3s;
        border-radius: 50%;
    }

    .bnc:hover {
        background: $mainGreen;
        background: -moz-radial-gradient(center, $mainGreen 0%, $mainGreen 31%, #000000 100%);
        background: -webkit-radial-gradient(center, $mainGreen 0%, $mainGreen 31%, #000000 100%);
        background: radial-gradient(ellipse at center, $mainGreen 0%, $mainGreen 31%, #000000 100%);
        -webkit-box-shadow: 0px 0px 10px 5px #00000096;
        box-shadow: 0px 0px 10px 5px #00000096;
    }

    .bnc:active {
        -webkit-box-shadow: inset 0px 0px 10px 5px #000000;
        box-shadow: inset 0px 0px 10px 5px #000000;

    }

    /*FONT NAVBAR*/
    .font {
        font-family: 'Rubik', sans-serif;
    }

    /*FIRST SECTION*/
    .icon-section {
        padding-top: 7rem;
        padding-bottom: 7rem;
        background-color: #ffffff;

    }

    /*HEADER*/
    .head-banner {
        padding-top: 8rem;
        padding-bottom: 8rem;
        background: #bdbdbd;
        background: linear-gradient(to right, #c400a3 0%, #f80000 19%, #ff9925 40%, #f5be3e 60%, #0baa88 83%, #c400a3 100%);
        background-size: $bgWidth 100%;
        animation: head-banner 15s linear infinite;
        background-attachment: fixed;
        background-blend-mode: color-burn;


    }

    @keyframes head-banner {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: $bgWidth;
        }
    }

    .main-title {
        letter-spacing: 0;
        font-size: 45px;
    }

    .title {
        text-shadow: 3px 5px 2px #474747;
    }

    .gian {
        color: $mainGreen !important;
    }

    .bgc {
        background-color: #bdbdbd;
    }


    .display-images {

        .imgs {
            min-height: 30rem;
        }

        .txt {
            padding: 3rem;
        }

    }

    /*BUTTON GITHUB PROJECT*/
    .buttonGit {
        border: 3px black solid;
        border-radius: 20px;
        color: black;
        text-decoration: none;
    }

    .buttonGit:hover {
        color: black;
        background: $mainGreen;
        transition: ease 0.3s;
    }

    /*BUTTONS*/
    .btn {
        border: 2px solid rgb(82, 82, 82) !important;
    }

    .prgss {
        height: fit-content !important;
        border-radius: 0 !important;
        background: #fff;
    }

    .vio {
        color: #6d6d6d
    }

    /*WAVES*/
    .animate-charcter {
        background-image: linear-gradient(-225deg,
                #c7cdff 30%,
                #ffffff 50%,
                #ffffff 70%,
                #c7cdff 100%) !important;
        background-size: auto auto !important;
        background-clip: border-box !important;
        background-size: 200% auto !important;
        color: #fff !important;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        animation: textclip 3s linear infinite !important;
    }
    
    label {
        font-size: 2em;
    }

    .bg1 {
        background-color: #DDFFBC;
    }

    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }

    .waves {
        position: relative;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px;
        min-height: 100px;
        max-height: 150px;
    }

    .content {
        position: relative;
        height: 20vh;
        text-align: center;
        background-color: #feffde6b;
    }

    /* Animazioni onde */

    .parallax>use {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    }

    .parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }

        100% {
            transform: translate3d(85px, 0, 0);
        }
    }

    /*BORDER FORM*/
    .bordertxt {
        border: none;
        transition: color 0.5s;
        border-top: 3px solid transparent !important;
        border-right: 3px solid transparent !important;
        border-left: 3px solid transparent !important;
        border-bottom: 3px solid transparent !important;
        box-shadow: none !important;
        background: #fff;
    }

    .bordertxt:hover, .bordertxt:focus {
        border-bottom: 3px solid $mainGreen !important;
    }


}


@media screen and (min-width:768px) {

    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    .head-banner {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    .display-images {

        .txt {
            padding: 7rem;
        }
    }

    .main-title {
        font-size: 70px !important;
    }

    .respad {
        padding-top: 80px !important;
    }
}